.colorGlass {
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 20px 0;
    text-shadow: orangered 2px 2px 5px;
    color: orangered;
}

.seccionHeader {
    font-weight: bold;
}

.seccionHeader:hover {
    color: orangered;
}

.Sesion {
    background-color: orangered;
    color: white;
    padding: 5px;

    border-radius: 30px;
}

.iniciarSesion {
    padding-left: 10px;

}

.iniciarSesion:hover {
    background-color: orangered;
    border-radius: 30px;
    color: white;
}